// CONTACT

$salmon: rgb(243, 146, 135);

.contact{
    display: flex;
}

.contactWrapper{
    width: 80%;
    margin: 0 auto;
}

.contact__info{
    width: 50%;
}

.contact__form{
    width: 50%;
    background-color: $salmon;
}

.contact__info article{
    padding-top: 100px;
    width: 80%;
    margin: 0 auto;
}

.contact h2{
    text-align: left;
    margin-bottom: 50px;
}

.footer__icons{
    display: flex;
    list-style: none;
    margin: 0px;
    justify-content: flex-start;
    padding: 40px 0px 40px 0px;
}

.footer__icons li{
    background-color:rgb(38, 153, 134);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    transition: 0.3s all ease;
}

.footer__icons li:hover{
    background-color:rgb(51, 216, 188);
}

.footer__icons i{
    font-size: 1.5rem;
    color: antiquewhite;
}

.fa-twitter{
    transform: translateY(50%) translateX(70%);
}

.fa-facebook{
    transform: translateY(50%) translateX(120%);
}

.fa-linkedin{
    transform: translateY(50%) translateX(70%);
}

.fa-instagram{
    transform: translateY(50%) translateX(70%);
}

.contact form{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 100px;
}

.contact__form h2{
    color: white;
}

.input__wrapper{
    display: flex;
    align-items: center;
    border-bottom: 2px solid white;
}

.input__wrapper h3{
    color: white;
}

.input__wrapper label{
    padding-right: 10px;
}

form h3{
    color: white;
}

input{
    border-style: none;
    height: 50px;
    width: 100%;
    background-color: $salmon;
}

textarea{
    border-style: none;
    width: 100%;
    height: 100px;
    background-color: $salmon;
    padding: 12px;  
}

form button{
    width: 120px;
    border: 2px solid white;
    background-color: $salmon;
    padding: 10px 15px;
    margin: 40px 0px 80px 0px;
    transition: 0.3s all ease;
}

form button:hover{
    border: 2px solid white;
    background-color: white;
    h3{
        color: $salmon;
    }
}

@media (max-width: 940px) {
    .contact form{
        width: 70%;
        margin-left: 40px;
    }
}

@media (max-width: 768px) {
    .contactWrapper{
        width: 100%;
    }

    .contact__info article{
        width: 80%;
        margin-left: 15%;
    }

}

@media (max-width: 660px) {
    .contact{
        flex-direction: column;
    }

     .contact form{
        width: 80%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .contact__info, .contact__form{
        width: 100%;
    }

    .footer__icons{
        padding-top: 10px;
    }

    .contact__info h2{
        margin-bottom: 20px;
        text-align: center;
    }

    .contact__info p{
        text-align: center
    }

    .contact article{
        padding-top: 50px;
        width: 80%;
        margin-left: 0px;
        margin: 0 auto;
    }

    .footer__icons{
        justify-content: center;
    }
}