// PORTFOLIO

.portfolio{
    margin-top: 100px;;
}

.portfolio__container{
    display: flex;
}

.website{
    width: 200%;
}

.description article{
    width: 95%;
    margin: 0 auto;
    margin-top: 20%;
}

.description h2{
    text-align: left;
}

.description p{
    margin: 30px 0px;

}

.website{
    width: 100%;
}

.website figure{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.website img{
    width: 100%;
}

@media (max-width: 940px) {
  

}
@media (max-width: 768px) {
      .portfolio__container{
        flex-direction: column;
    }

    .website img{
        width: 100%;
    }

    .description article{
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .movie{
        flex-direction: column-reverse;
    }

    .camping{
        flex-direction: column-reverse;
    }
}

@media (max-width: 480px) {
}
